.cp-map-center {
  flex: 2 1 500px; // grand écran : prend plus de place
  // position: relative;
  min-height: 50vh;
  align-content: center;

  @media screen and (max-width: 1600px) {
    align-content: flex-start;
  }

  @media screen and (max-width: 992px) {
    display: none;
  }

  // position: absolute;
  // // top: 30%;
  // left: 550px;
  // right: 25%;
  // width: 40%;

  // &[data-country="france"] {
  //   width: 35%;
  // }
}

#carte-container {
  position: relative;
  width: 100%;
  padding-top: 75%;
  /* ratio fixe pour responsive */
  background: transparent;

  @media screen and (max-width: 1600px) {
    padding-top: 100%;
  }

  .svg-wrapper {
    position: absolute;
    inset: 0;
    width: fit-content;
    margin: auto;
  }

  object#carte-svg {
    width: 100%;
    height: 100%;
    // height: 50vh;
    display: block;
  }

  .point-projet {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--color-primary);
    /* proportionnel à la largeur de la carte */
    aspect-ratio: 4 / 3;
    /* conserve la forme */
    color: var(--color-text);
    text-align: center;
    font-size: clamp(10px, 1vw, 14px);
    font-weight: bold;
    cursor: pointer;
    z-index: 5;
    @include rectangle(32px);
    line-height: 24px;

    // Ajustement pour tactile
    @media (hover: none) {
      font-size: clamp(14px, 2vw, 16px);
    }
  }
}

.svg-wrapper-mini {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: auto;

  .mini-points {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .point-projet-mini {
      position: absolute;
      transform: translate(-50%, -50%);
      background-color: #dcac53;
      height: 6px;
      width: 7.5px;
    }
  }
}
