.cp-filtres-wrapper {
  flex: 1 1 300px; // Largeur minimum sur petit écran
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    margin-bottom: 1rem;
  }

  .cp-filter-group {
    .list-item {
      margin-left: 26px;
    }
  }

  .cp-mini-carte-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 10px;
    align-items: baseline;

    .cp-mini-carte-form {
      width: 100px;
      margin: 0;

      .cp-mini-carte-button {
        all: unset;
        cursor: pointer;
        opacity: var(--opacity-inactive);
        @include transition(opacity);

        &.active {
          opacity: 1;

          .cp-mini-carte-label {
            color: var(--color-primary);
          }
        }

        .cp-mini-carte {
          width: 100%;
          padding: 4px;

          img {
            width: 100%;
            height: auto;
          }

          .cp-mini-carte-label {
            text-align: center;
            font-weight: bold;
            padding-top: 5px;
          }
        }

        &:hover .cp-mini-carte {
          border-color: var(--color-border);
        }
      }
    }
  }
}

#cp-filtres-avances {
  display: grid;
  grid-template-areas:
    "phase_projet phase_projet"
    "secteur_projet categorie_projet";

  >div[data-form-section] {
    &[data-form-section="phase_projet"] {
      grid-area: phase_projet;

      .cp-filter-group {
        display: flex;
        gap: 14px;
        margin-top: 14px;
        margin-bottom: 14px;
      }
    }

    &[data-form-section="secteur_projet"] {
      grid-area: secteur_projet;
    }

    &[data-form-section="categorie_projet"] {
      grid-area: categorie_projet;
    }
  }

  .cp-filter-icon {
    display: block;
    text-align: center;
    cursor: pointer;
    position: relative;

    img {
      opacity: var(--opacity-inactive);
      @include transition(opacity);
    }

    &:hover {

      img,
      .cp-filter-label {
        opacity: 1;
        color: var(--color-text);
        white-space: nowrap;
      }
    }

    &.active {

      img,
      .cp-filter-label,
      .see-all {
        opacity: 1;
        color: var(--color-text);
      }

      .see-all-checkbox {
        background: var(--color-text);
      }
    }

    &-img {
      @include square(40px);
      display: block;
      margin: auto;
      object-fit: contain;
    }

    input {
      display: none;
    }
  }
}

.see-all {
  display: flex;
  align-items: center;
  gap: 10px;

  .see-all-checkbox {
    width: 16px;
    height: 12px;
    background: transparent;

    border: 1px solid #fff;

  }
}






#toggle-filtres {
  width: 100%;
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-left: none;
  border-right: none;
  padding: 10px 0;
  display: flex;
  justify-content: end;
  align-items: center;
  background: none;
  color: var(--color-text);
  font-size: 1.2rem;
  cursor: pointer;
  gap: 44px;

  .cp-dropdown-icon-container {
    width: 34px;
    display: flex;
    justify-content: end;
    align-items: center;

    .cp-dropdown-icon {
      font-size: 1.5rem;
      transition: transform 0.3s ease;
      position: relative;
      z-index: 1;
      width: 34px;

      &:before {
        content: "";
        @include rectangle(32px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-primary);
        z-index: -1;
      }
    }
  }


  &[aria-expanded="true"] .cp-dropdown-icon {
    width: 24px;

    >span {
      position: relative;
      top: -2px;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}

.cp-filtres-avances {
  display: none;
  padding-top: 33px;


  &.open {
    display: block;
  }
}

@media (max-width: 768px) {
  #toggle-filtres {
    display: flex;
  }

  #cp-filtres-avances-container {
    display: none;

    &.open {
      display: block;
      margin-top: 1rem;
    }
  }
}













.cp-project-slider {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.cp-slider-point {
  all: unset;

  &:hover,
  &.active {
    transform: translateX(50%);
    background: var(--color-text);


    .cp-slider-point-title {
      display: flex;
    }
  }

  &-icon {
    background-color: transparent;
    border: 1px solid var(--color-text);
    cursor: pointer;
    transition: transform 0.2s ease;
    @include rectangle(16px);
    position: relative;
  }

  &-title {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    padding-right: 24px;
    white-space: nowrap;
    transform: translateX(-100%);
    align-items: center;
    color: #fff;
  }
}