#project-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 90%;
  max-width: 400px;
  padding: 1rem;
  color: var(--color-text);
  z-index: 10;
  transform: translateX(10px);

  &[data-country=suisse] {
    left: 60%;
  }

  &[data-country=philippines] {
    left: 80%;
  }

  #popup-icon {
    position: absolute;
    top: 0;
    right: 0;

    img {
      max-height: 50px;
      max-width: 50px;
      object-fit: contain;
    }
  }

  #popup-number {
    font-weight: bold;
    margin-bottom: 5px;
    background-color: var(--color-primary);
    @include rectangle(32px);
    text-align: center;
    line-height: 24px;
  }

  #popup-link {
    &:hover {
      #popup-title {
        color: var(--color-primary);
      }
    }
  }

  #popup-title {
    font-weight: bold;
    margin: 14px 0 10px;
    color: var(--color-text);
    font-size: 1.75rem;
  }

  #popup-excerpt {
    margin-bottom: 10px;
    color: var(--color-text);
    font-size: 1rem;
  }

  #popup-taxonomies {
    @include flex-vertical-center(row, 18px);

    >div {
      @include flex-center(row, 10px);

      .li-bullet {
        background-color: var(--color-text);
        @include rectangle(8.5px);
      }

      .metadata-label {
        font-weight: bold;
        color: var(--color-text);
      }
    }
  }
}





/* RESPONSIVE LAYOUT */
@media (max-width: var(--breakpoint-xl)) {
  #page-projets {
    flex-direction: column; // stacké en mobile
  }

  .cp-filtres-wrapper {
    order: 2; // mettre les filtres en bas
    padding: 1rem 0;
  }

  .cp-map-center {
    order: 1;
    min-height: 40vh;
  }
}

@media (max-width: 600px) {
  .cp-mini-carte-group {
    grid-template-columns: repeat(2, 1fr);
  }

  .point-projet {
    width: 5%; /* un peu plus grand pour petits écrans */
  }
}