:root {
  --font-family: 'Prad - Regular', Helvetica, Arial, Lucida, sans-serif;

  --color-primary: #DCAC53;
  --color-bg: #4B4C53;
  --color-text: #fff;
  --color-border: #333;

  --opacity-inactive: 0.4;
}
