* {
  --prad-font-family: 'Prad - Regular', Helvetica, Arial, Lucida, sans-serif;
}


#page-projets {
  background-color: #4B4C53;
  padding-left: 5vw;
  padding-top: 7vh;
  padding-bottom: 7vh;
  height: 90vh;
  position: relative;

  img {
    filter: invert(1);
  }


  #carte-svg {
    filter: invert(1);

    width: auto;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
}


.cp-filtres-wrapper {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10vh;
  padding-bottom: 10vh;


  h3 {
    margin-bottom: 1rem;
  }

  .cp-mini-carte-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: baseline;
    width: fit-content;

    .cp-mini-carte-form {
      margin: 0;
      width: 100px;

      .cp-mini-carte-button {
        all: unset;
        cursor: pointer;
        opacity: 0.4;

        &.active {
          opacity: 1;

          .cp-mini-carte-label {
            color: #dbac53;
          }
        }

        .cp-mini-carte {
          width: 100%;
          padding: 4px;
          transition: border 0.3s;

          img {
            width: 100%;
            height: auto;
          }

          .cp-mini-carte-label {
            text-align: center;
            font-weight: bold;
            padding-top: 5px;
            font-family: 'Prad - Regular', Helvetica, Arial, Lucida, sans-serif;
          }
        }

        &:hover .cp-mini-carte {
          border-color: #333;
        }
      }
    }
  }
}

.subcontainer {
  position: absolute;
  top: 10vh;
  right: 25vw;
  bottom: 10vh;
}

#carte-container {
  position: relative;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .svg-wrapper {
    // width: 100%;
    height: 100%;
    aspect-ratio: auto;
  }


  .point-projet {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: #DCAC53;
    height: 24px;
    width: 32px;
    color: #fff;
    text-align: center;
    line-height: 24px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    z-index: 5;
  }
}



#cp-filtres-avances {
  display: grid;
  grid-template-areas:
    "phase_projet phase_projet"
    "secteur_projet categorie_projet"
  ;
  max-width: 500px;

  >div[data-form-section="phase_projet"] {
    grid-area: phase_projet;
  }

  >div[data-form-section="secteur_projet"] {
    grid-area: secteur_projet;
  }

  >div[data-form-section="categorie_projet"] {
    grid-area: categorie_projet;
  }


  .cp-filter {
    &-icon {
      display: inline-block;
      text-align: center;
      cursor: pointer;
      position: relative;

      img {
        opacity: 0.4;
      }

      &:hover {

        .cp-filter-label,
        img {
          opacity: 1;
          color: #fff;
        }
      }


      &.active {
        opacity: 1;

        .cp-filter-label,
        .see-all,
        img {
          opacity: 1;
          color: #fff;
        }

        .see-all {
          .see-all-checkbox {
            background: #fff;
          }
        }
      }

      &-img {
        width: 40px;
        height: 40px;
        display: block;
        margin: auto;
        object-fit: contain;
      }


      input {
        display: none;
      }
    }

  }

}







.svg-wrapper-mini {
  position: relative;
  width: 100%;
}

.svg-wrapper-mini object {
  width: 100%;
  height: auto;
  display: block;
}

.mini-points {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mini-points .point-projet-mini {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #DCAC53;
  height: 6px;
  width: 7.5px;
}




.see-all {
  display: flex;
  align-items: center;
  gap: 10px;

  .see-all-checkbox {
    width: 16px;
    height: 12px;
    background: transparent;

    border: 1px solid #fff;

  }
}


.cp-filter-group {
  .list-item {
    margin-left: 26px;
  }
}



#project-popup {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  padding: 10px;
  max-width: 400px;
  min-width: 300px;
  z-index: 10;

  #popup {
    &-icon {
      position: absolute;
      top: 0;
      right: 0;

      >img {
        max-height: 50px;
        max-width: 50px;
        object-fit: contain;
      }
    }

    &-number {
      font-weight: bold;
      margin-bottom: 5px;
      background-color: #DCAC53;
      height: 24px;
      width: 32px;
      text-align: center;
      line-height: 24px;
    }

    &-title {
      font-weight: bold;
      margin-top: 14px;
      margin-bottom: 10px;
      color: #fff;
      font-family: var(--prad-font-family);
      font-size: 1.75rem;
    }

    &-excerpt {
      margin-bottom: 10px;
      color: #fff;
      font-size: 1rem;
    }

    &-taxonomies {
      display: flex;
      gap: 18px;


      >div {
        display: flex;
        align-items: center;
        gap: 10px;

        .li-bullet {
          background-color: #fff;
          height: 7px;
          width: 8.5px;
        }

        .metadata-label {
          font-weight: bold;
          color: #fff;
          font-family: var(--prad-font-family);
        }
      }

    }
  }
}