@import '../scss/variables';
@import '../scss/mixins';
@import '../scss/filtres';
@import '../scss/carte';
@import '../scss/popup';

#page-projets {
  background-color: var(--color-bg);
  padding: 7vh 0 7vh 5vw;
  height: 90vh;
  position: relative;

  img,
  #carte-svg {
    filter: invert(1);
  }

  #carte-svg {
    width: auto;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
}
