@import '../scss/variables';
@import '../scss/mixins';
@import '../scss/filtres';
@import '../scss/carte';
@import '../scss/popup';
@import '../scss/mobile_list';

#page-projets {
    background-color: var(--color-bg);
    display: grid;
    
    // grid-template-columns: 490px 40% 1fr;
    // grid-template-columns: 30% 40% 1fr;
    grid-template-columns: minmax(500px, 30%) 40% 1fr;



    gap: 2rem;
    height: auto;
    padding: 5vh 5vw;
    flex-wrap: wrap;
    min-height: 90vh;

    @media (max-width: 992px) {
        grid-template-columns: 1fr; 
        padding: 2vh 2vw;;
        min-height: unset;

        .cp-mini-carte-group {
            margin-top: 2vh;
        }
    }


    img,
    #carte-svg {
        filter: invert(1);
    }

    // #carte-svg {
    //     width: auto;
    //     height: 100%;
    //     object-fit: contain;
    //     display: block;
    //     margin: 0 auto;
    // }
}